/* .inner{
    overflow:hidden;
}
.inner img{
    transition: all 1.5s ease-out ;
}
.inner:hover img{
    transform:scale(0.900);
} */
/* .inner{
    overflow:hidden;
    transition: all 1.0s ease-out ;

/* } */
.inner:hover{
    transform:scale(1.3);
    color:rgb(233, 229, 229)
}    
